<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" sizes="any" type="image/png">
        <title>Moderna - framework to build landing pages with pure HTML and CSS, a bit JS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/moderna.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    </head>
    <body>
        <header class="header" id="header">
            <div class="header-content">
                <div class="header-branding mr-3">
                    <a href="#">
                        <img class="logo" src="{{ url_for('static', filename='img/imagee.svg') }}" alt="LOGO">
                    </a>
                </div>
                <nav class="header-nav">
                    <ul id="menu" class="menu pa-0">
                        <a href="#optimizer">
                            <li class="menu-item">Optmizer</li>
                        </a>
                        <a href="#about">
                            <li class="menu-item">About</li>
                        </a>
                        <a href="#author">
                            <li class="menu-item">Author</li>
                        </a>
                        <a href="#start">
                            <li class="menu-item">How to start?</li>
                        </a>
                    </ul>
                    <div class="menu-action">
                        <a class="button" href="#start" >Start</a>
                    </div>
                    <span id="showMenuBtn" class="mobile-menu-icon closed"></span>                
                </nav>
            </div>
        </header>

        <!-- First screen -->
        <article class="container pa-5 full-height">
            <div class="item text-item pl-5">
                <h2 class="title mb-1">Imagee</h2>
                <p class="subtitle">Optimize the image without loss of quality. <br/>Size optimization up to 70%</p>
                <br>
                <a href="#optimizer" class="button mt-5">Optmize image</a>
            </div>
            <div class="item image-item">
                <img class="image" style="width:100%"  src="{{ url_for('static', filename='img/optimized.png') }}" alt="">
            </div>
        </article>
        <main>
            <!-- Optmizer -->
            <article id="optimizer" class="pa-5">
                <div class="content-center text-center">
                    <h2 class="title">Optimazer</h2>
                    <p class="subtitle">Upload your image to optimize</p>
                </div>
                <div class="container">
                    <div class="item uploader">
                        <div class="card vertical-card content-center">
                            <div class="card-image">
                                <img id="preview" width="400px" class="fixid-image"/>
                            </div>
                            <p class="card-text">
                                <label id="uploadLabel" for="file" class="button uploader-btn">Upload Image</label>
                                <span id="uploadedLabel" class="card-text"></span>
                            </p>
                            <div id="actionArea" style="display: none;" class="card-content">
                                <p class="card-action">
                                    <button id="optimize" class="button">Optimize</button>
                                </p>
                            </div>
                        </div> 
                        <input id="file" accept="image/jpeg, image/png" type = "file" name = "file" style="display: none;"/>  
                    </div>

                    <div id="resultBlock" style="display: none;" class="item">
                        <div class="card vertical-card content-center">
                            <div class="card-image">
                                <img id="optimized" width="400px" class="fixid-image"/>
                            </div>
                            <div class="card-content">
                                <p id="optimizedLabel" class="card-text"></p>
                                <p class="card-action">
                                    <button id="download" class="button">Download</button>
                                </p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="content-center text-center">
                    <label for="file" id="reset" class="button reset">Upload New</label>
                </div>
            </article>

            <!-- About section -->
            <article id="about" class="container pa-7 ma-0 reverse-mobile" style="background-color: #fdb920;">
                <div class="item image-item">
                    <img class="image"  src="http://cdn.onlinewebfonts.com/svg/download_302557.png" alt="">
                    <!-- <img class="image"  src="{{ url_for('static', filename='img/image-icon.png') }}" alt=""> -->
                </div>
                <div class="item text-item pl-5">
                    <h2 class="title mb-1">About Imagee</h2>
                    <p class="subtitle">There are many web frameworks on the net, but every new idea has a chance to come true. This framework is built to create landing pages using pure HTML, CSS, JS without any third party libraries. The framework is published under the <a href="https://github.com/dev-muhammad/moderna/blob/main/LICENSE" target="_blank" style="color:#fff">MIT license</a> and it's free to use.</p>
                </div>
            </article>

        </main>     
    <script src="{{ url_for('static', filename='js/moderna.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>
</html>